*{
    margin: 0;
    padding: 0;
}

/* .social-link {display: table;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    overflow: hidden;} */

.social-profiles .item a:before {
    content: "\f09b";
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    color: #a6dbd1;
    border: 1px solid #FFF;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    margin: 3px;
    z-index: 0;}

.social-profiles .item a ::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    background: transparent;
    z-index: -1;}
li.item {
    display: inline-block;
    margin-top: 25px;}
b.slogan {
    font-size: 25px;
    margin-bottom: 20px;}
ul.social-profiles {
    list-style-type: disc;
    display: block;
   }
h1.sitename {color: white;margin-bottom: 30px;}

.tt {z-index: 2;position: relative;padding-top: 20%;}

.khoi2 {
    width: 100%;
    height: 100%;
    background-color: #ff7979;
    position: relative; 
z-index: 1;}

.khoi2::before {content: "";
    height: 100%;
    width: 50%;left: 0;top: 0;background: #ff5e57;position: absolute;}

body,html {width: 100%;height: 100%;}

img {width: 150px;}

nav.navbar.navbar-expand-sm.bg-light.navbar-light.navbar.fixed-top {margin: 0;padding: 0;height: 100px;}



a.nav-link{
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
    line-height:79px ;
}

li.nav-item{
    margin: 0;
    padding: 0;
    margin: 0 17px;
}

@media (max-width:567px){
    *{
        
    }
 a.nav-link {height: 60px;}
img {display: block;padding-left: 30px;}
}